/*메인*/

main {
    display: flex;
    width: auto;
    height: auto;
    margin: 70px auto 0px auto;
    justify-content: center;
    align-content: center;
}

/* 사이드바*/

.sidebar {
    display: flex;
    padding: 100px 10px 0px 30px;
    /*background: #fff
    flex-shrink: 1;*/
    flex-direction: column;
    width: 100%;

}


.sidebar ul {
    list-style: none;
    text-decoration: none;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}


.sidebar ul a {
    text-decoration: none;
    background-color: transparent;

}

.whole {
    width: 224px;
    height: 63px;
    background: #998470 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.whole a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/27px var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.sidebarSub {
    width: 224px;
    height: 63px;
    background: #DBD5CE 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebarSub a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 17px/23px Noto Sans;
    letter-spacing: 0px;
    color: #998470;
    opacity: 1;
}

.sidebar li:hover {

    display: block;
    background-color: #6BAAB7;
    display: flex;
}

.sidebar li:hover a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*내용*/
.contents {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    flex-direction: column;
    /*background-color: pink;*/
    padding: 0px 20px 0px 20px;
    justify-content:center;
    align-items: center;
}

.contents_box1 {
    width: 1000px;
    height: 238px;
    border: 1px solid var(--unnamed-color-707070);
    background: #998470 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contents_box1 div {
    width: 80%;
    background-color: transparent;
    display: flex;
    height: 238px;
    flex-direction: column;
    justify-content: center;
}



.contents hr {
    background-color: white;
    text-align: center;
}


.contents_title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 30px/41px var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-efefef);
    text-align: left;
    font: normal normal bold 30px/41px Noto Sans;
    letter-spacing: 0px;
    color: #EFEFEF;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    background-color: transparent;
    padding-bottom: 10px;
}

.contents_subtitle {
    font: var(--unnamed-font-style-normal) normal normal 12px/17px var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-efefef);
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #EFEFEF;
    opacity: 1;
    padding-top: 30px;
    background-color: transparent;
}

.contents_box2 {
    display: flex;
    margin: 57px 0px 0px 0px;
    width: 1000px;
    height: 590px;
    border: 2px solid #FFFFFF;
    opacity: 0.44;
    flex-direction: column;
    justify-content: center;

}

.success_text {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 30px/41px var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-efefef);
    text-align: center;
    font: normal normal bold 30px/41px Noto Sans;
    letter-spacing: 0px;
    color: #EFEFEF;
    opacity: 1;
}



@media screen and (max-width:768px) {

    .sidebar {
        display: none;
    }
    .contents_box1 {
        width: 100%;
    }
    .contents_box2{
        width: 100%;
    }
    .box {
        display: none;
    }
}